html {
    font-family: 'Handlee', sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
    max-width: 100%;
}

#navbar {
    background-color: hotpink;
    display: flex;
    top: 0;
    position: fixed;
    padding: 1.5rem;
    width: 100vw;
    height: 5vh;
    z-index: 1;
}

#navbar a {
    text-decoration: none;
    padding: 1rem;
    color: black;
}

#navbar a:hover {
    font-weight: bolder;
}

#link-div {
    position: absolute;
    padding: .5rem;
    right: 8rem;
    font-size: 2rem;
}

#welcome-section {
    background-color: #202020;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 100vh;
}

#welcome-section h1 {
    font-size: 3rem;
}

#welcome-section p {
    font-size: 1.5rem;
}

section {
    padding: 1rem;
    width: 100%;
    padding-top: 12vh;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: 0% 0%;
    border-bottom: 1px solid black;

}

h2 {
    font-size: 2rem;
}

.project-tile p {
    text-align: center;

}

#profile-link {
    /* button */
    border: 1px solid black;
    height: 2rem;
    width: 5rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    grid-area: button;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 1rem;
}

#profile-link:hover {
    background-color: lightblue;
}

a {
    text-decoration: none;
}

.project-tile {
    border: 2px solid transparent;
    background-color: cornsilk;
    aspect-ratio: 1 / 1;
    grid-area: main;
}

.project-tile:hover {
    border: 2px inset blueviolet;
    color: deeppink;
    font-weight: bold;
}

#projects {
    background-color: lightskyblue;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;

    display: grid;
    grid-template-areas:
        'header header header'
        'main main main'
        'main main main'
        'button button button';
    grid-template-rows: .3fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-bottom: 3rem;
}

#linkedin {
    color: white;
    position: relative;
    font-size: 2rem;
}

#linkedin:hover {
    top: 10px;
    color: chartreuse;
}

#projects h2 {
    grid-area: header;
    margin-left: 2rem;
}

#contact {
    background-color: #202020;
    color: white;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-bottom: .5rem;
}

.ball {
    position: absolute;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    right: calc(100% - 5.5rem);
    bottom: 0;
    animation: bounce 15s linear infinite;
    background-image: linear-gradient(deeppink, skyblue);
}

.animation {
    width: 80%;
    aspect-ratio: 2/1;
    position: relative;
}

.mailbox {
    height: 7rem;
    width: 3rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

.post {
    height: 7rem;
    width: 1rem;
    position: absolute;
    background-color: linen;
    bottom: 0;
    right: 0;
}

.block {
    width: 3rem;
    height: 1rem;
    background-color: chartreuse;
    position: absolute;
    right: 1rem;
}

.held {
    left: 2rem;
    top: 2rem;
    border-bottom: none;
    animation: disappear 15s linear infinite;
}

.two {
    animation: appear 15s linear infinite;
    opacity: 0;
    top: 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    z-index: 1;
}

.three {
    position: absolute;
    top: 2rem;
}

@keyframes bounce {
    0% {
        /* left, bottom */
        right: calc(100% - 5.5rem);
        bottom: 0;
    }

    5% {
        bottom: 60%;
    }

    10% {
        bottom: 0;
    }

    15% {
        bottom: 60%;
    }

    20% {
        bottom: 0;
    }

    25% {
        bottom: 60%;
    }

    30% {
        right: calc(0% + 5.5rem);
        bottom: 0;
    }

    35% {
        right: calc(0% + 5.5rem);
        bottom: 60%;
    }

    40% {
        right: calc(0% + 5.5rem);
        bottom: 0;

    }

    43% {
        /* dropping mail */
        right: calc(0% + 5.5rem);
        bottom: 4.5rem;
    }

    /* bounce on way back */
    46% {
        bottom: 0;
    }

    49% {
        bottom: 10%;
    }

    52% {
        bottom: 0;
    }

    55% {
        bottom: 10%;
    }

    58% {
        bottom: 0;
    }

    61% {
        bottom: 10%;
    }

    64% {
        bottom: 0;
    }

    67% {
        bottom: 10%;
    }

    70% {
        bottom: 0;
    }

    73% {
        bottom: 10%;
    }

    76% {
        bottom: 0;
    }

    79% {
        bottom: 10%;
    }

    82% {
        bottom: 0;
    }

    85% {
        bottom: 10%;
    }

    88% {
        bottom: 0;
    }

    91% {
        bottom: 10%;
    }

    94% {
        bottom: 0;
    }

    97% {
        bottom: 10%;
        right: calc(100% - 5.5rem);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    42.99% {
        opacity: 0;
    }

    43% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    42.99% {
        opacity: 1;
    }

    43% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 1000px) {
    html {
        overflow-x: hidden;
    }

    #navbar {
        /* make Contact fit on the navbar, center all */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    #navbar a {
        /* more space between */
        padding: .8rem;
    }

    #link-div {
        position: absolute;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        right: auto;
    }

    #projects {
        padding-bottom: 12vh;
        /* vertical, one at a time, center */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .project-tile {
        font-size: 1.5rem;
    }

    #projects h2 {
        /* center text */
        margin-left: 0;
    }

    #profile-link {
        /* add space top of button, bigger */
        margin-top: 3rem;
        height: 3rem;
        width: 8rem;
        font-size: 2rem;
    }

    #contact {
        margin-bottom: 0;
    }

}

@media only screen and (max-width: 500px) {

    #profile-link {
        /* decrease button size */
        height: 2rem;
        width: 5rem;
        font-size: 1rem;
    }

    /* center linkedin */
    #linkedin {
        text-align: center;
    }

    .animation {
        width: 90%;
    }

}
